catchpoint-node-worldmap.json
[
   {
      "id":"2016aae6.c37346",
      "type":"function",
      "z":"c64f9040.51e5c",
      "name":"Bearer",
      "func":"msg.headers = {\n    \"Authorization\" : \"Bearer \" + global.get('token'),\n    \"Accept\": \"application/json\"\n};\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":250,
      "y":220,
      "wires":[
         [
            "94bd960f.697e28"
         ]
      ]
   },
   {
      "id":"94bd960f.697e28",
      "type":"http request",
      "z":"c64f9040.51e5c",
      "name":"nodes",
      "method":"GET",
      "ret":"obj",
      "url":"https://io.catchpoint.com/ui/api/v1/nodes",
      "tls":"",
      "x":390,
      "y":220,
      "wires":[
         [
            "14f2eeca.03dde1"
         ]
      ]
   },
   {
      "id":"2d7ff06c.d6132",
      "type":"worldmap",
      "z":"c64f9040.51e5c",
      "name":"",
      "lat":"",
      "lon":"",
      "zoom":"3",
      "layer":"OSM grey",
      "cluster":"",
      "maxage":"",
      "usermenu":"show",
      "layers":"show",
      "panit":"false",
      "x":750,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"14f2eeca.03dde1",
      "type":"function",
      "z":"c64f9040.51e5c",
      "name":"Parse Response",
      "func":"var map = [];\n\nfor (j = 0; j < msg.payload.items.length; j++) {\n    if (msg.payload.items[j].coordinates) {\n        map.push({\n            'name' : msg.payload.items[j].name,\n            'lat' : msg.payload.items[j].coordinates.latitude,\n            'lon' : msg.payload.items[j].coordinates.longitude\n        })\n    }\n}\n\nmsg.payload = map;\ndelete msg.payload.items;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":560,
      "y":220,
      "wires":[
         [
            "2d7ff06c.d6132"
         ]
      ]
   },
   {
      "id":"24310c41.16c134",
      "type":"inject",
      "z":"c64f9040.51e5c",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":100,
      "y":220,
      "wires":[
         [
            "2016aae6.c37346"
         ]
      ]
   },
   {
      "id":"7c0532d1.9a904c",
      "type":"inject",
      "z":"c64f9040.51e5c",
      "name":"REST API",
      "topic":"authorize",
      "payload":"",
      "payloadType":"str",
      "repeat":"1740",
      "crontab":"",
      "once":true,
      "x":107,
      "y":131,
      "wires":[
         [
            "5b015ff9.b2b4b"
         ]
      ]
   },
   {
      "id":"61489c2.3deb164",
      "type":"http request",
      "z":"c64f9040.51e5c",
      "name":"Token",
      "method":"POST",
      "ret":"obj",
      "url":"https://io.catchpoint.com/ui/api/token",
      "tls":"",
      "x":667,
      "y":131,
      "wires":[
         [
            "794fbda0.fb0bb4"
         ]
      ]
   },
   {
      "id":"936fd411.132728",
      "type":"template",
      "z":"c64f9040.51e5c",
      "name":"Body",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"grant_type=client_credentials&client_id={{credentials.key}}&client_secret={{credentials.secret}}",
      "output":"str",
      "x":547,
      "y":131,
      "wires":[
         [
            "61489c2.3deb164"
         ]
      ]
   },
   {
      "id":"239e6eb4.439ce2",
      "type":"function",
      "z":"c64f9040.51e5c",
      "name":"Headers",
      "func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/json\"\n};\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":417,
      "y":131,
      "wires":[
         [
            "936fd411.132728"
         ]
      ]
   },
   {
      "id":"794fbda0.fb0bb4",
      "type":"function",
      "z":"c64f9040.51e5c",
      "name":"Base64",
      "func":"var token = new Buffer.from(msg.payload.access_token).toString('base64');\n\nglobal.set(\"token\", token);",
      "outputs":1,
      "noerr":0,
      "x":797,
      "y":131,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"5b015ff9.b2b4b",
      "type":"function",
      "z":"c64f9040.51e5c",
      "name":"Credentials",
      "func":"msg.credentials = {\n    key: \"xxx\",\n    secret: \"yyy\"\n};\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":267,
      "y":131,
      "wires":[
         [
            "239e6eb4.439ce2"
         ]
      ]
   }
]
